.buy-button {
    background-color: #ff99cc;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none; /* Loại bỏ gạch chân của liên kết */
    display: inline-block; /* Để padding hoạt động đúng */
}

.buy-button:hover {
    background-color: #ff66b3;
    color: white; /* Giữ màu chữ trắng khi hover */
    text-decoration: none; /* Không hiện gạch chân khi hover */
}